# PISA Data Analysis

## Introduction

PISA is a survey of students' skills and knowledge as they approach the end of compulsory education. It is not a conventional school test. Rather than examining how well students have learned the school curriculum, it looks at how well prepared they are for life beyond school.

Around 510,000 students in 65 economies took part in the PISA 2012 assessment of reading, mathematics and science representing about 28 million 15-year-olds globally. Of those economies, 44 took part in an assessment of creative problem solving and 18 in an assessment of financial literacy.

This project cleans data in Python and creates a visualization using Tableau to highlight trends and pattern in the 2012 PISA dataset.

## Process Overview

1. Data cleaning
2. Background research
3. Data manipulation
4. Exploration
5. Explanatory Analysis
6. Machine learning?

## Need to Understand
1. Types of questions:
  1. Categorical / Ordinal:
    1. Likert
    2. Forced-choice
    3. Multiple-choice demographic
  2. Quantitative:
    1. PISA scores
    2. Anchored questions
2. How the test was administered:
  1. Sections of test
    1. Paper: 2 hours of Math, Science and Reading
    2. Computer: 40 minutes of Math, Science and Reading
    3. Paper: 30 minutes of survey questions on students and attitudes
  2. Who took which portions
    1. Students
    2. Teachers
    3. Principals
    4. Parents
3. Scaling of questions
  1. What is Item Response Theory (IRT) Scaling?
  2.

## Data Cleaning

The first step involved manipulating the data slightly to make better sense of the variables. I changed the variable abbreviations in the CSV to more descriptive names so they were human-readable. I suspect more work will be needed here.

### Consolidating US
The US was split into FL, CT, MA and USA. All other countries were unified, so I consolidated the US into one variable (despite the fact that Massachusetts is a cut above the rest).

In [1]:
import pandas as pd
pisa = pd.read_csv('data/pisa2012.csv')

/Users/courtneyfergusonlee/anaconda/envs/DAND/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
pisa.head()

,Unnamed: 0,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
0,1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
1,2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
3,4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13

### Change header names to descriptions
1. Read the pisadict as a pandas file
2. Create a list of header values from the pandas file
3. Make the first list item blank ("")
4. Append the remaining names
5. Read the csv as a pandas dataframe
6. Change the column names using the list of header values
7. Create a new pisa csv from the modified pisa dataframe

In [4]:
pisa_dict = pd.read_csv('data/pisadict2012.csv')
new_pisa_names = ['']
for row in pisa_dict['x']:
    new_pisa_names.append(row)
pisa.columns = new_pisa_names

In [5]:
pisa.head()

,,Country code 3-character,Adjudicated sub-region code 7-digit code (3-digit country code + region ID + stratum ID),Stratum ID 7-character (cnt + region ID + original stratum ID),OECD country,National Centre 6-digit Code,School ID 7-digit (region ID + stratum ID + 3-digit school ID),Student ID,International Grade,National Study Programme,...,FINAL STUDENT REPLICATE BRR-FAY WEIGHT75,FINAL STUDENT REPLICATE BRR-FAY WEIGHT76,FINAL STUDENT REPLICATE BRR-FAY WEIGHT77,FINAL STUDENT REPLICATE BRR-FAY WEIGHT78,FINAL STUDENT REPLICATE BRR-FAY WEIGHT79,FINAL STUDENT REPLICATE BRR-FAY WEIGHT80,RANDOMIZED FINAL VARIANCE STRATUM (1-80),RANDOMLY ASSIGNED VARIANCE UNIT,Senate weight - sum of weight within the country is 1000,Date of the database creation
0,1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
1,2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
3,4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13

### Clean up Country Codes

Some country codes are unrecognizable. Need to change to standard names.

In [8]:
country_dict = {
    'Country code 3-character': {
        'China-Shanghai': 'China',
        'Chinese Taipei': 'Taiwan',
        'Connecticut (USA)': 'United States',
        'Florida (USA)': 'United States',
        'Hong Kong-China': 'China',
        'Korea': 'South Korea',
        'Macao-China': 'China',
        'Massachusetts (USA)': 'United States',
        'Perm(Russian Federation)': 'Russia',
        'Russian Federation': 'Russia',
        'United States of America': 'United States'
    }    
}

pisa = pisa.replace(to_replace = country_dict)

In [ ]:
print len(pisa.iloc[0])

### Create and Check Updated Pisa CSV

In [9]:
pisa.to_csv('data/pisa_updated.csv', chunksize = 20000, index = False)

In [11]:
pisa_updated = pd.read_csv('data/pisa_updated.csv')
for name in pisa['Country code 3-character']:
    if name =='China-Shanghai':
        print "Failed to update?"
        break

Failed to update?

In [10]:
print set(pisa_updated['Country code 3-character'])

set(['Brazil', 'Canada', 'Qatar', 'Italy', 'Czech Republic', 'Connecticut (USA)', 'United States of America', 'China-Shanghai', 'Lithuania', 'Costa Rica', 'Luxembourg', 'France', 'Hong Kong-China', 'Slovak Republic', 'Netherlands', 'Ireland', 'Argentina', 'Norway', 'Thailand', 'Massachusetts (USA)', 'Israel', 'Australia', 'Singapore', 'Iceland', 'Montenegro', 'Slovenia', 'Germany', 'Chile', 'Perm(Russian Federation)', 'Belgium', 'Jordan', 'Kazakhstan', 'Spain', 'Chinese Taipei', 'Indonesia', 'Denmark', 'Poland', 'Finland', 'Turkey', 'Macao-China', 'Liechtenstein', 'Korea', 'Croatia', 'Japan', 'Switzerland', 'New Zealand', 'Florida (USA)', 'Bulgaria', 'Romania', 'Albania', 'Portugal', 'Estonia', 'Mexico', 'Russian Federation', 'United Arab Emirates', 'Uruguay', 'Serbia', 'Sweden', 'Peru', 'United Kingdom', 'Malaysia', 'Austria', 'Latvia', 'Tunisia', 'Colombia', 'Greece', 'Hungary', 'Vietnam'])

In [10]:
print set(pisa['Country code 3-character'])

set(['Brazil', 'Canada', 'Qatar', 'Italy', 'Czech Republic', 'Lithuania', 'Costa Rica', 'Luxembourg', 'France', 'Slovak Republic', 'Netherlands', 'Ireland', 'Argentina', 'Norway', 'Thailand', 'Israel', 'Australia', 'Singapore', 'Iceland', 'Jordan', 'Montenegro', 'Slovenia', 'Germany', 'Chile', 'Belgium', 'China', 'Kazakhstan', 'Taiwan', 'Spain', 'Indonesia', 'Denmark', 'Poland', 'Finland', 'Turkey', 'United States', 'Liechtenstein', 'Latvia', 'Croatia', 'Japan', 'Switzerland', 'New Zealand', 'Russia', 'Bulgaria', 'Romania', 'Albania', 'Portugal', 'Estonia', 'Mexico', 'Tunisia', 'United Arab Emirates', 'Uruguay', 'Serbia', 'Sweden', 'Peru', 'United Kingdom', 'Malaysia', 'Austria', 'Vietnam', 'Colombia', 'Greece', 'Hungary', 'South Korea'])